
*.tiff 
venv
.backups
ImportLog
*.astac
*.zip
RasterFunctionsHistory
*.gdb
.s3cfg
RasterFunctionsHistory
RasterFunctionTemplates
RasterFunctionsHistory/*
RasterFunctionsTemplates/*
Index
s1a*
change*
GpMessages
venv
s2
s1
output
.DS_Store
*.erfh
venv/Lib/*
Lib
venv/Lib/site-packages
*.lyrx
layerfiles
*.astac